.slider-wrapper:not(:last-child) {
    margin-bottom: 0.5em;
}

.slider-wrapper>.slider-title-wrapper {
    display: flex;
    align-items: baseline;
}

.slider-wrapper>.slider-title-wrapper>.slider-title {
    font-size: 1rem;
    flex: 1 1 auto;
    color: rgb(220, 220, 225);
}

.slider-wrapper>.slider-title-wrapper>.slider-value {
    flex: none;
    width: 5em;
    text-align: right;
}

.slider-wrapper>.slider-description {
    box-sizing: border-box;
    padding: 0.25rem 0.5em 0.5em 0.5em;
}

.slider-wrapper>.slider-container {
    box-sizing: border-box;
    padding: 0rem 0.5rem;
}

.slider-wrapper>.slider-container>input[type="range"].slider {
    width: 100%;
}